<header class="header-sticky">
    <nav>
        <div class="nav-container">
            <div class="nav-brand">
                <a href="/" class="site-logo">bin</a>
            </div>
            <div class="nav-links">
                <a href="/" class="nav-link">home</a>
                <a href="https://github.com/robin-codespace" class="nav-link">github</a>
                <a href="https://www.linkedin.com/in/bin-huang-010642117/" class="nav-link">linkedin</a>
            </div>
        </div>
    </nav>
</header>
