---
// Navigation component
---
<header class="header-sticky">
    <nav>
        <div class="nav-container">
            <a href="/" class="site-logo">Bin Huang</a>
            <div class="nav-links">
                <a href="/" class="nav-link">Home</a>
                <a href="/#blogs" class="nav-link">Blog</a>
                <a href="https://github.com/robin-codespace" target="_blank" class="nav-link">GitHub</a>
                <a href="https://www.linkedin.com/in/bin-huang-010642117/" target="_blank" class="nav-link">LinkedIn</a>
            </div>
        </div>
    </nav>
</header>
