---
import '~/styles/main.css';
import Navigation from '~/components/Navigation.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Source+Code+Pro:wght@400;600&display=swap" rel="stylesheet">
		<title>{title}</title>
	</head>
	<body>
		<div class="container">
			<Navigation />
			<main>
				<slot />
			</main>
			<footer>
				<p><i class="far fa-copyright"></i> 2025 Bin Huang. All rights reserved.</p>
			</footer>
		</div>
	</body>
</html>
